@use '/src/variable.scss' as g;



.backDrop{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.425);
    z-index: 30;



    
}
.container{
        position: fixed;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
        padding: 5px 20px;
        border-radius: 10px;
        background-color: #fff;
        width: 80%;
        z-index: 80;


        @media screen and (min-width:g.$sm) {
            width: 30rem;
        }

        .text{
            font-size: 1rem;
            color: #444;
        }
}