@use '/src/variable.scss' as g;


.loadingWrapper{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 50rem;

}

.main{
   @include g.main;
       
    
}