@use '/src/variable.scss' as g;




   
  .container{
    @include g.flexCol;
    box-shadow: 
    2px 0 0 0 #EBEDF0, 
    0 2px 0 0 #EBEDF0, 
    2px 2px 0 0 #EBEDF0,   
    2px 0 0 0 #EBEDF0 inset, 
    0 2px 0 0 #EBEDF0 inset;
    gap: 20px;
    cursor: pointer;
    
    


        .details{
            @include g.flexRow;
            width: 100%;
            padding: 20px 20px;


            .description{
                @include g.flexCol;
                align-items: flex-start;
                gap: 10px;
                

                .title{
                    font-size: 1rem;
                    font-weight: bold;
                    color: #444;

                }
                .subtitle{
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    font-size: .7rem;
                    max-width: g.$max-md;
                    color: #7778;
                    max-width: 7.5rem;
                    

                }
            }
            .foodPic{
                width: 5.5rem;
                height: 5.5rem;
                border-radius: 10px;
            }
        }

        .priceAndBtn{
          @include g.flexRow;
          width: 100%;
          padding: 10px 20px;
          transition: all .4s;
          
          
         


          .price{
            font-size: .8rem;
            font-weight: bold;
            font-family: 'numberFont';


            span{
                font-weight: normal;
                font-size: .7rem;
            }
          }

          .addBtn{
            padding: 5px 20px;
            border: none;
            border-radius: 20px;
            background-color: #fff;
            color: #FF38AC;
            box-shadow: 0px 0px 2px 1px rgba(189,181,181,0.3);
            cursor: pointer;
          transition: all .4s;


          }
          .buttons{
            @include g.flexRow;
            gap: 20px;

            .deleteBtn{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0;
                padding: 10px;
                border-radius: 50px;
                background-color: transparent;
                cursor: pointer;

                &:hover{
                    background-color: rgba(187, 186, 186, 0.313);
                }

            }
          

            .plusBtn , .minusBtn{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0;
                padding: 10px;
                border-radius: 50px;
                background-color: #fff;
                cursor: pointer;

                box-shadow: 0px 0px 2px 1px rgba(189,181,181,0.3);


                &:focus{
                    background-color: #ff00a649;
                }
            }
            .num{
                font-size: .85rem;
                font-weight: bold;
                font-family: 'numberFont';
            }
          }

          &:hover{
            background-color: #F9FAFB;

            .addBtn{
                background-color: #FF38AC;
                color: #fff;
            }
          }

          

        }
}

