@use '/src/variable.scss' as g;

.container{
    padding: 20px;
    margin: 10rem 0;
    background-color: #F9FAFB;
    border-radius: 10px;
    position: relative;



    .banner{
        @include g.flexRow;
        max-width: g.$max-5xl;
        margin: 0 auto;
        padding: 20px 0;



        .description{
            @include g.flexCol;
            align-items: flex-start;
            

            .title{
                font-family: 'snapfont';
                font-size: 2rem;
                font-weight: bold;

            }
            .subtitle{
                font-family: 'snapfont';
                font-size: 1rem;
                font-weight: bold;
                line-height: 2.3rem;
                margin: 2rem 0;
            }
            button{
                padding: 10px;
                margin: 20px 0;
                color: #fff;
                background-color: g.$pinkColor;
                font-size: 1.2rem;
                font-weight: bold;
                border: none;
                border-radius: 10px;

            }
            
        }
        img{
            display: none;
            width: 20rem;
            height: 20rem;
            position: absolute;
            left: 4rem;
            transform: translateY(-30%);
            
            


            @media screen and (min-width:g.$lg) {
                display: block;
            }
        }
    }
}