@use '/src/variable.scss' as g;



    
    
    

    .wrapper{
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px -1px rgba(214, 213, 213, 0.5) inset;
        width: 100%;
        
    }
